In [ ]:
import cv2
cv2.__version__

'4.8.0'

In [ ]:
!pip install

In [ ]:
print("Hola")

Hola

### Ejercicio 1

In [ ]:
n=9
for row in range(1,n+1):
  for col in range(1, n+1):
    printed_col = col
    if (col > row):
      printed_col = row
    print(printed_col, end="  ")
  for col in range(n-1, 0, -1):
    printed_col = col
    if (col > row):
      printed_col = row
    print(printed_col, end="  ")
  print("")

for row in range(n-1,0, -1):
  for col in range(1, n+1):
    printed_col = col
    if (col > row):
      printed_col = row
    print(printed_col, end="  ")
  for col in range(n-1, 0, -1):
    printed_col = col
    if (col > row):
      printed_col = row
    print(printed_col, end="  ")
  print("")

1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
1  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  1
1  2  3  3  3  3  3  3  3  3  3  3  3  3  3  2  1
1  2  3  4  4  4  4  4  4  4  4  4  4  4  3  2  1
1  2  3  4  5  5  5  5  5  5  5  5  5  4  3  2  1
1  2  3  4  5  6  6  6  6  6  6  6  5  4  3  2  1
1  2  3  4  5  6  7  7  7  7  7  6  5  4  3  2  1
1  2  3  4  5  6  7  8  8  8  7  6  5  4  3  2  1
1  2  3  4  5  6  7  8  9  8  7  6  5  4  3  2  1
1  2  3  4  5  6  7  8  8  8  7  6  5  4  3  2  1
1  2  3  4  5  6  7  7  7  7  7  6  5  4  3  2  1
1  2  3  4  5  6  6  6  6  6  6  6  5  4  3  2  1
1  2  3  4  5  5  5  5  5  5  5  5  5  4  3  2  1
1  2  3  4  4  4  4  4  4  4  4  4  4  4  3  2  1
1  2  3  3  3  3  3  3  3  3  3  3  3  3  3  2  1
1  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  1
1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1

### Ejercicio 2

In [ ]:
from traitlets.traitlets import Int
m = 3
k = 3
k = 3
s = 2

matA = []
matB = []

for i in range(m):
  fila = []
  for j in range(k):
    num = int(input(f"Ingrese el valor {i}, {j}: "))
    fila.append(num)
  matA.append(fila)

print(matA)

for i in range(k):
  fila = []
  for j in range(2):
    num = int(input(f"Ingrese el valor {i}, {j}: "))
    fila.append(num)
  matB.append(fila)

print(matB)

Ingrese el valor 0, 0: 1
Ingrese el valor 0, 1: 2
Ingrese el valor 0, 2: 3
Ingrese el valor 1, 0: 4
Ingrese el valor 1, 1: 5
Ingrese el valor 1, 2: 6
Ingrese el valor 2, 0: 7
Ingrese el valor 2, 1: 8
Ingrese el valor 2, 2: 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Ingrese el valor 0, 0: 1
Ingrese el valor 0, 1: 2
Ingrese el valor 1, 0: 3
Ingrese el valor 1, 1: 4
Ingrese el valor 2, 0: 5
Ingrese el valor 2, 1: 6
[[1, 2], [3, 4], [5, 6]]

In [ ]:
mult = []

for row in range(m):
  fila = []
  for col in range(s):
    acum = 0
    for interm in range(k):
      acum = acum + matA[row][interm]*matB[interm][col]
    fila.append(acum)
  mult.append(fila)

for row in mult:
  print(row)

[22, 28]
[49, 64]
[76, 100]

### Ejercicio 3

In [ ]:
nums = [2, 7, 11, 15, 2]
objetivo = 18

for i in range(len(nums)):
  for j in range(i+1, len(nums)):
    if nums[i]+nums[j] == objetivo:
      print(i, j)

1 2

### Ejercicio 4

In [ ]:
import math

def modulo(vect):
  mod = 0
  for i in range(len(vect)):
    mod = mod + vect[i]*vect[i]

  mod = math.sqrt(mod)
  return mod

def escalar(vect1, vect2):
  acum = 0
  for i in range(len(vect1)):
    acum = acum + vect1[i]*vect2[i]

  return acum

In [ ]:
vectA = [1, 2, 3]
vectB = [1, 2, 3]

print(f"Modulo vectA = {modulo(vectA)}")
print(f"Modulo vectB = {modulo(vectB)}")

if len(vectA) == len(vectB):
  print(f"Producto esc = {escalar(vectA, vectB)}")

Modulo vectA = 3.7416573867739413
Modulo vectB = 3.7416573867739413
Producto esc = 14

### Ejercicio 5

In [ ]:
def es_palindrome(num):
  val=0
  while val < num:
    resto = num % 10
    num = num//10
    val = val*10 + resto

  if num == (val//10) or num == val:
    print("Es un palindrome")
  else:
    print("No es un palindrome")

In [ ]:
num = 4331334
if num%10 ==0:
  print("No es un palindrome")
else:
  es_palindrome(num)

433 4331
Es un palindrome

### Ejercicio 6

In [ ]:
vect = [4, 1, 1, 2, 2]

for i in range(len(vect)-1):
  count = 0
  for j in range(len(vect)):
    if vect[i] == vect[j]:
      count+=1
  if count==1:
    print(vect[i])

4

In [ ]:
"{0:03}".format(100)

'100'